<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="SoftFluent.SqlServerInMemory" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>
  <SoftFluent.SqlServerInMemory connectionString="database=SoftFluent.SqlServerInMemory;server=.\SQL2014;Trusted_Connection=true" />

</configuration>